<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Juan Rodríguez programador analista">
    <title>SolutionCr</title>
    <!-- Bootstrap core CSS -->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
 <style type="text/css">
  body { 
  background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQEXb7rdEThXlMAWsG7hIlpwMX_76ptr1YaRbbQ5KLs1s7tJJQm");
  background-position: 100% 45%;
   background-repeat: no-repeat;
   background-repeat: repeat-x;
}
 </style>
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-1">
          <%=image_tag("LOGO IT Solutions cr.ai.png",width: "60px",height: "60px")%>
        </div>
        <div class="col-md-1 pull-right">
          <%=image_tag("facebook.jpg",width: "57px",height: "57px")%>
        </div>
      </div><br><br><br><p>
      <div class="masthead">
        <div class="text-muted"></div>
        <ul class="nav nav-justified">
          <li class="<%=@home%>"><%=link_to "Inicio",root_path%></li>
          <li><a href="#">Proyectos</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Descargas</a></li>
          <li class="<%=@abaut%>"><%=link_to "Acerca",home_about_path%></li>
          <li><a href="#">Contactanos</a></li>
        </ul>
      </div>
      <!-- CONTENIDO PAGINA -->
        <%= yield %>
      <!-- FIN CONTENIDO PAGINA -->

    </div>
      <footer class="well well-lg">
          <strong>&copy; <%=Time.now.year%> It Solutio cr</strong>.  Todos los derechos reservados.  
        </footer>
  </body>
</html>

