<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Juan Rodríguez programador analista">
    <title>SolutionCr</title>
    <!-- Bootstrap core CSS -->
    <%=stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%=javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%=stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
    <%=javascript_include_tag "bootstrap", "data-turbolinks-track" => true %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
    <![endif]-->
 
  </head>
  <body>
    <div class="container">
      <div class="row-fluid">
        <div class="col-md-1">
          <%=image_tag("LOGO IT Solutions cr.ai.png",width: "60px",height: "60px")%>
        </div>
        <div class="col-md-1 pull-right">
          <%=image_tag("facebook.jpg",width: "57px",height: "57px")%>
        </div>
      </div><br><br><br><p>
      <div class="masthead">
        <div class="text-muted"></div>
        <ul class="nav nav-justified">
          <li class="active"><%=link_to "Home",root_path%></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Downloads</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
        <%= yield %>
    </div>
      
  </body>
</html>

